<h1><%= @alien.name %> </h1>

<ul>
  <li><%= @alien.appendages %></li>
  <li><%= @alien.origin %></li>
  <li><%= @alien.stuff %></li>
  <li><%= @alien.strength %></li>
</ul>

<a href="/spaceships/<%= @alien.spaceship_id %>/aliens"> To the ship</a>