<h1>Update <%= @clown.name %> the clown!</h1>
<a href="/clowns/<%= @clown.id %>">Go back</a>
<form action="/clowns/<%= @clown.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT"/>
   <label>
    Name:
    <input type="text" name="name" value="<%= @clown.name %>" />
  </label>
  <label>
    Talent:
    <input type="text" name="talent" value="<%= @clown.talent %>" />
  </label>  
  <label>
    Sings?
    <input type="checkbox" name="is_singer" <%= @clown.is_singer ? "checked" : "" %> />
  </label> 

  <button>Update This Clown</button>
</form>