<h1><%= @alien.name %></h1>
<ul>
<li> Favorite Number: <%= @alien.appendage %> </li>
<li> Weakness: <%= @alien.weakness %> </li>
<li> Strength: <%= @alien.strength %> </li>
<li> Origin: <%= @alien.origin %> </li>
</ul>