<h1> Edit <%= @trailer.title %></h1>

<div class="center">
<form action="/movies/<%= params[:movie_id]%>/trailers/<%= params[:id]%>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PUT">
  <label>
    Update Title: 
  <input type="text" name="title" value="<%=@trailer.title %>">
  </label>
  
  <label>
    Update YouTube ID:
  <input type="text" name="embed_url" value="<%=@trailer.embed_url %>">
  </label>

  <button>Make changes!</button>

</form>
</div>