<h1><%=@spaceship.name%></h1>
<ul>
  
<li>Capacity: <%=@spaceship.capacity %></li>
<li>Origin: <%=@spaceship.origin %></li>
<li><img src="<%=@spaceship.photo_url%>"></li>
<a href="/spaceships/<%= @spaceship.id%>/aliens">See Aliens</a>

</ul>





