<h1><%= @character.name %> in "<%= @movie.title %>"</h1>

<img src="<%= @character.photo_url %>" />

<br/><br/>

<a href="/movies/<%= @movie.id %>/characters/<%= @character.id %>/edit">Edit Character</a>

<br/>

<a href="/movies/<%= @movie.id %>/characters">Back to characters</a>

<br/><br/><br/><br/>

<form action="/movies/<%= @movie.id %>/characters/<%= @character.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  
  <button>Remove Character</button>
</form>
