<!--Show one clown's profile -->

<h1><%= @clown.name %></h1>
<p> <%= @clown.happiness_level %> </p>
<p> <%= @clown.creepiness_level %> </p>
<p> <%= @clown.talent %> </p>
<p> <%= @clown.is_singer %> </p>