<!--Show one clown's profile -->

<h1><%= @clown.name %></h1>
<p> <%= @clown.happiness_level %> </p>
<p> <%= @clown.creepiness_level %> </p>
<p> <%= @clown.talent %> </p>
<p> <%= @clown.is_singer %> </p>

<a href="/clowns/<%= @clown.id %>/edit">Edit this clown</a>

<form actions="/clowns/<%= @clown.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete this clown</button>
</form>

