<!-- Show one clown's profile -->
<h1>Clown <%=@clowns.id%> Profile</h1>
<ul>

<li>Clown Name: <%= @clowns.name %></li>
<li>Clown Happiness Level: <%= @clowns.happiness_level %></li>
<li>Clown Creepiness Level: <%= @clowns.creepiness_level %></li>
<li>Clown Talent: <%= @clowns.talent %></li>
<li>Does the clown sing? <%= @clowns.is_singer %></li>

</ul>