<!-- Show one clown's profile -->
<h1><%= @clown.name %> </h1>
<p>Happiness Level: <%= @clown.happiness_level %></p>
<p>Creepiness Level: <%= @clown.creepiness_level %></p>
<p>Talent: <%= @clown.talent %></p>
<p>Singer: <%= @clown.is_singer%></p>