<h1>SHOWING SPACESHIP</H1>

  <p><a href="/spaceships/">SHOW ALL SPACESHIPS</a>
    <p>

Name: <%= @spaceship.name %>
<br>
Capacity: <%= @spaceship.capacity %>
<br>
Origin: <%= @spaceship.origin %>
<br>
Species allowed: <%= @spaceship.species_allowed %>
<br>
Purpose: <%= @spaceship.purpose %>
<br>
<p>
  <img src="<%= @spaceship.photo_url %>"
</p>
