<ul>
    <li>Name? <%= @selected_clown.name %></li>
    <li>Happiness Level: <%= @selected_clown.happiness_level %></li>
    <li>Creepiness Level: <%= @selected_clown.creepiness_level %></li>
    <li>Talent? <%= @selected_clown.talent %></li>
    <li>Singer? <%= @selected_clown.is_singer %></li>
</ul>

<a href ="http://localhost:4567/clowns/6"> </a>