<h1>Welcome to the Sorting Hat!</h1>
<img src= "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg">

<%= form_for @students do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  <br/>
  <%= f.submit "Submit" %>
<% end %>