<h1> Update your character.</h1>

<form action="/movies/<%= @character.movie.id %>/characters/<%= @character.id %>" method="POST">
  <input type="hidden" name="_method" value="patch" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

   <label>name</label>
  <input type="text" name="name" value="<%= @character.name %>">


  <label>Photo URL</label>
  <input type="text" name="photo_url" value="<%= @character.photo_url %>">


  <button>Submit</button>


</form>