<h1>Edit <%= @movie.title %></h1>

<form action="/movies/<%= @movie.id %>" method="POST">
  <input type="hidden" name="_method" value="patch" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Name:
    <input type="string" name="title" value="<%= @movie.title %>"/>
  </label>

  <label>
    Year:
    <input type="string" name="year" value="<%= @movie.year %>"/>
  </label>

  <label>
    Poster URL
    <input type="text" name="poster_url" <%= @movie.poster_url  %>/>
  </label>

  <button>Edit this Movie</button>
</form>