<h1>Edit Character Entry</h1>

<form action="/movies/<%=params[:movie_id]%>/characters/<%=@character.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  
  <label>  
    Name:
    <input type="text" name="name" value="<%= @character.name %>" />
  </label>

  <label>  
    Photo:
    <input type="text" name="photo_url" value="<%= @character.photo_url %>" />
  </label>

  <label>  
    Movie
    <input type="text" name="movie" value="<%=Movie.find_by(id: params[:movie_id]).title%>"/>
    </label>

  <button>Update</button>
</form>