<h1><%=@character.name%></h1>

<figure>
  <img src="<%=@character.photo_url %>" alt="Picture of <%=@character.name%>"height="500"/>
  <figcaption><%= @character.name %></figcaption>
</figure>

<ul>
<li><a href="/movies/<%= @character.movie_id %>/characters"> Return</a></li>
<li><a href="/movies/<%= @character.movie_id %>/characters/<%= @character.id %>/edit">Update Information</a></li>

<li><form action="/movies/<%= @character.movie_id %>/characters/<%= @character.id %>" method="POST" >
<input type="hidden" name="_method" value="DELETE" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>Remove character from database</button>
</form></li>
</ul>