<h1> <%=@alien.name %> </h1>
<div>

<ul>
<p>Appendages: <%=@alien.appendages%></p>
<p>Organic Substrate: <%=@alien.organic_substrate%></p>
<p>Weakness: <%=@alien.weakness%></p>
<p>Strength: <%=@alien.strength%></p>
<p>Spaceship: <%=@alien.spaceship_id%></p>
</ul>


<button><a href="/spaceships">Go to main page</a></button>
</div>