<a href="/spaceships">See all of the insane spaceships!!!!</a>

<img src="<%= @spaceships.photo_url %>">

<h1>This is the <%= @spaceships.name %>, a <%= @spaceships.capacity %> capacity <%= @spaceships.purpose %> ship from <%= @spaceships.origin %>.</h1>
