  <% @clowns.each do |clown| %>
    <li><%= clown.name %></li>
    <li><%= clown.happiness_level%></li>
    <li><%= clown.creepiness_level%></li>
    <li><%= clown.talent%></li>
    <li><%= clown.is_singerl%></li>
  <% end %>