<h1><%= @aliens.name %>'s Profile</h1>
<h3>Number of Appendages: <%= @aliens.appendages %></h3>
<h3>Origin: <%= @aliens.origin %></h3>
<h3>Alien Name: <%= @aliens.name %></h3>
<h3>Organic Substrate: <%= @aliens.organic_substrate %></h3>
<h3>Weakness: <%= @aliens.weakness %></h3>
<h3>Strength: <%= @aliens.strength %></h3>

<a href="/spaceships/<%=@aliens.spaceship_id%>"><button>Back to the Spaceship</button></a>