<h1> <%= @alien.name %> </h1>

<img src="<%= @alien.photo_url %>">
<ul>
  <li><p>Appendages: <%= @alien.appendages %></p></li>
  <li><p>Origin Planet: <%= @alien.origin %></p></li>
  <li><p>Organic Substrate: <%= @alien.organic_substrate %></p></li>
  <li><p>Weakness: <%= @alien.weakness %></p></li>
  <li><p>Strength: <%= @alien.strength %></p></li>
</ul>