<h1>Edit <%= @trailer.title %></h1>

<form action="/movies/<%= @trailer.movie_id %>/trailers/<%= @trailer.id %>" method="POST">
  <input type="hidden" name="_method" value="patch" />
  
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  
  <label>
    Title:
    <input type="string" name="title" value="<%= @trailer.title %>"/>
  </label>

  <label>
    Embed URL:
    <input type="text" name="embed_url" value="<%= @trailer.embed_url %>"/>
  </label>


  <button>Edit this Trailer</button>
</form>
