<h1><%= @alien.name %> Stat Sheet</h1>



<ul>
  <li>Name: <%=@alien.name%></li>
  <li>Origin: <%=@alien.origin%></li>
  <li>Number of appendages: <%=@alien.num_appendages%></li>
  <li>Organic substrate: <%=@alien.organic_substrate%></li>
  <li>Weakness: <%=@alien.weakness%></li>
  <li>Powers: <%=@alien.powers%></li>
  <li>Spaceship: <%=@alien.spaceship_id%></li>
</ul>


<a href="/aliens">Return to aliens index</a>
