<!-- Show list of clowns with links to their profiles -->


<ul>
  <li> Name: <%= @clown.name %> </li>
  <li> Happiness Level: <%= @clown.happiness_level %> </li>
  <li> Creepiness Level: <%= @clown.creepiness_level %> </li>
  <li> Talent: <%= @clown.talent %> </li>
  <li> Sings? <%= @clown.is_singer.to_s.capitalize %> </li>
</ul>