<h1><%= @character.name %> </h1>

<img src="<%= @character.photo_url %>" height="300"> 

<ul>
  <li><%= @character.name %></li>
</ul>

<p><a href="<%= @character.id %>/edit">Edit this character</a>

<p>
<form action="<%= @character.id %>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>DELETE THIS CHARACTER</button>
</form>
<a href="/movies">MOVIES</a>

