<h1><%= @alien.name %></h1>
<p>
  <%= @alien.photo_url %>
  <%= @alien.origin %>
  <%= @alien.organic_substrate %>
  <%= @alien.weakness %>
  <%= @alien.strength %>
  <%= @alien.appendages %>
</p>

<img src="<%= @alien.photo_url %>">