<h3><%= @movie.title%></h3>

<ul>
    <li>Released in  <%= @movie.year%></li>
    <li><a href="/movies/<%= params[:id] %>/characters">Character List</a></li>
    <li><a href="/movies/<%= params[:id] %>/trailers">View Trailers</a></li>
    <li><a href="/movies/<%= params[:id] %>/edit">Edit Movie Info</a></li>
    <li>
      <form action="/movies/<%= params[:id]%>" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <button>Delete Movie</button>
      </form></li>
    <img src="<%= @movie.poster_url%>"/>
  </ul>