<h3><%= @movie.title%></h3>

<ul>
    <li>Released in  <%= @movie.year%>.</li>
    <li><a href="/movies/<%= params[:id] %>/characters">Character List</a></li>
    <li><a href="/movies/<%= params[:id] %>/trailers">View Trailers</a></li>
    <img src="<%= @movie.poster_url%>"/>
  </ul>