<h1> Edit a Movie </h1>

<form action="/movies/<%= @movie.id%>" method="post">
   <input type="hidden" name="_method" value="patch">
  <input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>' />
  <label>
    Title: 
    <input type='text' name='title' value='<%=@movie.title%>'/>
  </label>

  <label>
    Year:
    <input type='integer' name='year' value='<%=@movie.year%>'/>
  </label>

  <label>
    Poster Url:
    <input type='text' name='poster_url' value='<%=@movie.poster_url%>'/>
  </label>
  <button class='addmovie'> Click to Edit Movie </button>
</form>