<h1> Update a Character </h1>

<form action="/characters/<%= @character.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <label>
    Name:
    <input type="text" name="name" value="<%= @character.name %>" />
  </label>

  <label>
    Photo URL:
    <input type="text" name="photo_url" value="<%= @character.photo_url %>"/>
  </label>

  <label>
    <legend>Movies</legend>
    <% @movies.each do |movie| %>
    <input type="checkbox" name="<%= movie.title %>"/> <%= movie.title %> <br>
    <% end %>
  </label>


  <button>Update your spaceship</button>
</form>