<h1> Edit <%= @character.name %></h1>

<div class="center">
<form action="/movies/<%= params[:movie_id]%>/characters/<%= params[:id]%>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PUT">
  <label>
    Name: 
  <input type="text" name="name" value="<%=@character.name %>">
  </label>
  
  <label>
    Photo URL:
  <input type="text" name="photo_url" value="<%=@character.photo_url %>">
  </label>

  <button>Make changes!</button>

</form>
</div>