
<h1> Name: <%= @characters.name %></h1>

<h2>Photo:</h2>

<img src="<%= @characters.photo_url %>">



<h3>Edit this character <a href="/movies/<%= params[:movie_id] %>/characters/<%= params[:id]%>/edit">here</a></h3>

<h3>View characters <a href="/movies/<%= params[:movie_id] %>/characters">here</a></h3>

<h3>Delete this character <a href="/movies/<%=@movie_id %>">here</a></h3>