
<h1> Name: <%= @character.name %></h1>

<h2>Photo:</h2>

<img src="<%= @character.photo_url %>">



<h3>Edit this character <a href="/movies/<%= params[:movie_id] %>/characters/<%= params[:id]%>/edit">here</a></h3>

<h3>View characters <a href="/movies/<%= params[:movie_id] %>/characters">here</a></h3>

<form action="/movies/<%= params[:movie_id]%>/characters/<%= params[:id]%>" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
  <div class="center">
  <button>Delete Character</button>
</div>
</form>