<h1><%=@movie.title%></h1>
<h3><%=@movie.year%></h3>

<img src="<%=@movie.poster_url%>" width="350"/>
<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/<%=@embed_url%>?autoplay=1"
  frameborder="0"></iframe>
<h3>Characters</h3>
<ul>
  <%@characters.each do |character|%>
  <li><%=character.name%></li>
  <img src="<%=character.photo_url%>" width="200"/>
  <%end%>
</ul>

<!-- <br/><a href="/movies/<%=@movie.id%>/trailers/new">Add Trailer</a> -->
<br/><a href="/movies/<%=@movie.id%>/characters/new">Add Character</a>

<form action="/movies/<%=@movie.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE"/>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"/>
  <button>Delete Movie</button>
</form>

<br/><a href="/movies">Back</a>
