<h1>List of Movies</h1>


<table border="1" solid black>
  <tr>
    <th>Title </th>
    <th>Year Released </th>
    <th>Genre </th>
    <th>Director </th>
  </tr>
  <% @movies.each do |movie| %>
  <tr>
    <td><a href="/movies/<%=movie.id%>"><%=movie.title%></a></td>
    <td><%=movie.director%></td>
    <td><%=movie.genre%></td>
    <td><%=movie.year_released%></td>
  </tr> 
  <% end %>
</table>


<form action="/movies" method="POST">
<input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>" />
<label>
  Title: 
  <input type="text" name="title"/>
</label>

<label>
  Release Year: 
  <input type="text" name="year_released"/>
</label>

<label>
  Poster URL: 
  <input type="text" name="poster_url"/>
</label>

<label>
  Genre: 
  <input type="text" name="genre"/>
</label>

<label>
  Director: 
  <input type="text" name="director"/>
</label>


<button>Add Movie</button>
</form>
