<h1>Movie Detail</h1>

<form action="/movies/<%=@movie.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />


<button>Delete this movie</button>
</form>


<img src="<%=@movie.poster_url%>" />


<form action="/movies/<%=@movie.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>
  Movie Title: 
  <input type="text" name="title" value="<%=@movie.title%>"/>
  </label>
  <label>
  Year Released: 
  <input type="text" name="year_released" value="<%=@movie.year_released%>"/>
  </label>
  <label>
  Genre: 
  <input type="text" name="genre" value="<%=@movie.genre%>"/>
  </label>
  <label>
  Director: 
  <input type="text" name="director" value="<%=@movie.director%>"/>
  </label>
  <label>
  Poster_URL: 
  <input type="text" name="poster_url" value="<%=@movie.poster_url%>"/>
  </label>
  <button>Update Movie</button>
</form>


<form action="/movies/<%=@movie.id%>/characters" method="POST">
<input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>" />

<label>
  Name: 
  <input type="text" name="name"/>
</label>

<label>
  Actor: 
  <input type="text" name="actor"/>
</label>

<label>
  Photo URL: 
  <input type="text" name="photo_url"/>
</label>

<label>
  Gender: 
  <input type="text" name="gender"/>
</label>

<label>
  Movies ID: 
  <input type="text" name="movies_id"/>
</label>

<button>Add Character</button>
</form>


<table border="1" solid black>
  <tr>
    <th>Character Name </th>
    <th>Portrayed By</th>
  </tr>
  <% @characters.each do |character| %>
  <tr>
    <td><a href="/movies/<%=@movie.id%>/characters/<%=character.id%>"><%=character.name%></a></td>
    <td><%=character.actor%></td>
  </tr> 
  <% end %>
</table>







<%if @trailer.nil? %>
<form action="/movies/<%=@movie.id%>/trailers" method="POST">
<input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>" />

<label>
  Title
  <input type="text" name="title"/>
</label>

<label>
  YouTube ID
  <input type="text" name="embed_url"/>
</label>

<label>
  Movie ID:
  <input type="text" name="movies_id"/>
</label> 

<button>Add Trailer</button>
</form>


<%elsif %>
  <form action="/movies/<%=@movie.id%>/trailers/<%=@trailer.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <label>
    Youtube ID: 
    <input type="text" name="embed_url" value="<%=@trailer.embed_url%>"/>
    </label>
  <button>Update Trailer</button>  
  </form>

  <form action="/movies/<%=@movie.id%>/trailers/<%=@trailer.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>Delete this trailer</button>
  </form>


<iframe id="ytplayer" type ="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%=@trailer.embed_url%>" frameborder="1" />
<%end%>