<!-- Show one clown's profile -->


<ul>
  <li>Id: <%= @clown.id%></li>
  <li>Name: <%= @clown.name%></li>
  <li>Happiness Level: <%= @clown.happiness_level%></li>
  <li>Creepiness Level: <%= @clown.creepiness_level%></li>
  <li>Talent: <%= @clown.talent%></li>
  <li>Singer? <%= @clown.is_singer%></li>
</ul>

