<a href="/spaceships">View all of the spaceships!</a><br><br>

<h1> Alien Name: <%= @alien.name %></h1>

<h2>Num of Appendages: <%= @alien.appendages %></h2>

<h2>Origin: <%= @alien.origin %></h2>

<h2>Organic Substrate: <%= @alien.organic_substrate %></h2>

<h2>Weakness: <%= @alien.weakness %></h2>

<h2>Strength: <%= @alien.strength %></h2>

<h3>Update an alien here</h3>