<h1>SHOWING SPACESHIP</H1>

  <p><a href="/spaceships/">SHOW ALL SPACESHIPS</a>
    <p>

Name: <%= @spaceship.name %>
<br>
Capacity: <%= @spaceship.capacity %>
<br>
Origin: <%= @spaceship.origin %>
<br>
Species allowed: <%= @spaceship.species_allowed %>
<br>
Purpose: <%= @spaceship.purpose %>
<br>
<%= button_to "Destroy Ship", "/spaceships/#{@spaceship.id.to_s}", class: "button", method: :delete %>
<br>
Aliens:
  <ul>
    <% @spaceship.aliens.each do |alien| %>
    <li><a href="/spaceships/<%= @spaceship.id%>/aliens/<%= alien.id %> "><%= alien.name %></a> </li>
    <% end %>
  </ul>
<p>
  <img src="<%= @spaceship.photo_url %>"
</p>