<h1>Edit a Character</h1>
<button><a href="/movies/<%= @movie.id %>/characters">Go Back to Character List</a></button>
</div>

<form action="/movies/<%= @movie.id %>/characters/<%= @character.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>
    <input class="input" type="text" name="name" value="<%= @character.name %>" />
  </label>
  
  <label>
    <input  class="input" type="text" name="photo_url" value="<%= @character.photo_url %>" />
  </label>
  
  <button class="button">Edit</button>
</form>