<h1><%= @alien.name %> of spaceship <%= @spaceship.name %></h1>

<p>Species: <%= @alien.species %></p>
<p>Strength: <%= @alien.strength %></p>

<a href="/spaceships/<%= @spaceship.id %>/aliens">All aliens on <%= @spaceship.name %></a>
