<h1>Meet <%= @dog.name %>!</h1>

<img src="/assets/<%= @dog.id %>/<%= @dog.name %>.jpg">

<p><%= @dog.name %> is a <%= @dog.breed %> and is <%= @dog.age %> years old.<p>

<button><a href="/dogs">See all the puppies!</a></button>