<h1><%= @alien.name %></h1>
  
<ul>
  <li>Origin: <%= @alien.origin%></li>
  <li>Organic Composition: <%= @alien.organic_composition%></li>
  <li>Vulnerabilities: <%= @alien.vulnerabilities%></li>
  <li>Strength Out of 10: <%= @alien.strength%></li>
  <li>Spaceship: <%= @alien.spaceship_id%></li>
</ul>