<h1><%= @trailer.title %> </h1>

<ul>
  <li><%= @trailer.title %></li>
</ul>

<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/<%= @trailer.embed_url %>?autoplay=1"
  frameborder="0"></iframe>

<p><a href="<%= @trailer.id %>/edit">Edit this trailer</a>

<p>
<form action="<%= @trailer.id %>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>DELETE THIS TRAILER</button>
</form>
<a href="/movies">MOVIES</a>

