<!-- show one clown -->

<a href="/clowns"><h1>Check out our totally not-creepy clowns</h1></a>

<h2><%= @clown.name %></h2>

<p><%= @clown.name %> the clown is a <%= @clown.happiness_lvl %> out of 100 in terms of happiness. He is a <%= @clown.creepiness_lvl %> out of 100 in creepiness. His talent is <%= @clown.talent %>. Singer? <%= @clown.is_singer %></p>

<a href="/clowns/<%= @clown.id %>/edit">Edit this clown's info</a>

<form action="/clowns/<%= @clown.id %>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
  <button>Delete this clown</button>
</form>