<h1><%= @movie.title %></h1>
<ul>
  <p><img src="<%= @movie.poster_url %>" width="500"></p>
  <p>Year: <%= @movie.year %></p>

</ul>
<a href="/movies/<%= @movie.id %>/characters">View Characters for <%= @movie.title %> </a></br>
<a href="/movies">Back To All Movies</a>