<h1> Edit <%=@movie.title%> </h1>

<form action="/movies/<%=@movie.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input name ="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
  <label>
    Title:
    <input type="text" name="title" value="<%=@movie.title%>">
  </label>
<br>
  <label>
    Year:
    <input type="integer" name="year" value="<%=@movie.year%>">
  </label>
<br>
  <label>
    Poster URL:
    <input type="text" name="poster_url" value="<%=@movie.poster_url%>">
  </label>
  <button>Update movie</button>
</form>