<!--Show one clown's profile -->

<h1><%= @clown.name %>'s Profile</h1>

<p>Happiness Level: <%= @clown.happiness_level %></p>
<p>Creepiness Level: <%= @clown.creepiness_level %></p>
<p>Talent: <%= @clown.talent %></p>
<p>Sings: <%= @clown.is_singer %></p>

<button><a href="/clowns/<%= @clown.id %>/edit">Edit</a></button>
<button><a href="/clowns">Back to the Clowns List</a></button>

<form action="/clowns/<%= @clown.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button>Kill the clown!</button>
</form>